header {
  height: 120px;
  background-color: #FF5733;
}

main {
  min-height: 400px;
  background-color: #33FFBD;
}

footer {
  height: 150px;
  background-color: red;
}

.wrapper
{
  width: 9px;
  margin: auto;
}
